
  body{
    width: 600px;
    background-size: 600px;
    background-repeat: no-repeat;
    background-image: url(headphone.png);
    background-position: top;
    text-align: center;
  }
  form{
  text-align: center;
  padding-top:40px;
  position: relative;
  left: 340px;
  top: 20px;
  }